@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #E5E5E5;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
}

.navi {
  color: #FFFFFF;
  background-color: #756157;
}

.headermedia {
  position	: relative;
	width		: 100%;
}

.welcomephoto {
  position	: absolute;
	top		: 51px;
	left		: 0;
	width		: 100%;
}
.divider-a {
  position	: absolute;
	width		: 100%;
  bottom: 0%;
}

div .advantages {
  background-color: #FFFFFF;
}

.titlehead {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;

}

.fivereason {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.advant-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.advant-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;

}

.advant-descr {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.datetravel {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
}

.booking-title {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
}

.callto {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
}

.button-footer {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.advantages-item-1 {
  background-color: #82B3D3;
}

.block-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.block-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.visually-hidden {
  display: none;
}

.header-catalog
{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;

}

.hotelssedona {
  position	: relative;
	width		: 100%;
}
.filter-content {
  position	: absolute;
	top		: 0;
	left		: 0;
	width		: 100%;

}
.header-catalog {
  position	: absolute;
	top		: 35px;
	left		: 70px;
	width		: 100%;
}


.breadcrumbs-link-hotels
{ font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;

}

.hotelscat {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}
.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}



.button-c {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.pagination-current {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
