@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #E5E5E5;
  min-height: 100%;
  margin: 0;
}
html {
  height: 100%;
}

.body-index,
.body-catalog {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
  display: block;
  margin: 0;
  padding-top: 20px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 19px;
}

.advantages {
  height: 282px;
  margin: 0;
}

.index-photo {
  display: block;
}

.twelve {
  position: absolute;
  padding-top: 17px;
  padding-left: 12px;
  padding-bottom: 35px;
}

.icon-search-search {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 30px;
}

.iconsearch-header {
  width: 18px;
  height: 18px;
  margin: 0;
  padding-left: 0;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.iconchosen-header {
  display: flex;
  margin: 0;
  padding-top: 24px;
  padding-left: 0;
  padding-bottom: 24px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 65px;
  margin: auto;
  background-color: #FFFFFF;
}

.page-header-logo {
  margin-left: 70px;
  margin-right: 30px;
  z-index: 1;
}

.container-nav {
  display: flex;
  min-width: 390px;
  min-height: 66px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

.container-nav-icons {
  display: flex;
  justify-content: flex-end;
  width: 264px;
  align-items: center;
  margin-left: auto;
  list-style-type: none;
  padding: 0;
  margin-right: 70px;
}
.icon-chosen-digit {
  display: flex;
}

.navigation-item-want {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #756157;
  border-radius: 4px;
  min-width: 160px;
  padding-top: 9px;
  padding-bottom: 8px;
  text-transform: uppercase;
  margin: auto;
}

.list-advants {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.town-block-micro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advant-number {
  margin: 0;
  padding-top: 30px;
}

.advant-title-town {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding-top: 92px;
  padding-left: 85px;
  padding-right: 85px;
  text-align: center;
  width: 230px;
  height: 56px;
  text-transform: uppercase;
  margin: 0;
}

.advant-descr {
  margin: 0;
  padding-top: 30px;
  padding-left: 85px;
  padding-right: 85px;
}
.underlist-souv,
.underlist-house {
  min-width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.icon-house {
  padding-top: 80px;
}

.underlist-burger {
  background-color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  min-width: 400px;
  height: 384px;
}

.icon-burger {
  padding-top: 81px;
  padding-bottom: 0;
}

.advant-title-house {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding-top: 30px;
  text-transform: uppercase;
}

.advant-descr-house {
  padding-top: 30px;
  margin-top: 0;
}

.advant-descr-burger {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  margin-top: 0;
  width: 230px;
}

.advant-title-burger {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding-top: 31px;
  text-transform: uppercase;
}

.icon-souvenir {
  padding-top: 78px;
}

.advant-title-souv {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding-top: 28px;
  text-transform: uppercase;
}

.advant-descr-souv {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  margin-top: 0;
  width: 230px;
}

.underlist {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
.town-block-bridge {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 400px;
  background-color: #82B3D3;
}

.advant-title-bridge {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 92px;
}

.advant-number-bridge {
  margin: 0;
  padding-top: 30px;
}

.advant-descr-bridge {
  margin: 0;
  padding-top: 30px;
  padding-left: 85px;
  padding-right: 85px;
  width: 230px;
}

.underlist-square {
  background-color: rgba(131, 179, 211, 0.12);
}

.advant-title-square {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding-top: 103px;
  padding-left: 85px;
  padding-right: 85px;
  text-transform: uppercase;
}

.advant-number-square {
  margin: 0;
  padding-top: 30px;
  padding-left: 85px;
  padding-right: 85px;
}

.advant-descr-square {
  width: 230px;
  padding-top: 30px;
  margin: 0;
  padding-left: 85px;
  padding-right: 85px;
}

.underlist-road {
  background-color: rgba(131, 179, 211, 0.2);
  min-width: 400px;
}

.advant-title-road {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 103px;
  padding-left: 85px;
  padding-right: 85px;
}

.advant-number-road {
  padding-top: 30px;
  margin: 0;
}

.advant-descr-road {
  margin: 0;
  padding: 30px;
}

.underlist-tourist {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
}

.advant-title-tourist {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 103px;
  padding-left: 85px;
  padding-right: 85px;
}

.advant-number-tourist {
  margin: 0;
  padding-top: 30px;
}

.advant-descr-tourist {
  margin: 0;
  padding-top: 30px;
  padding-left: 85px;
  padding-right: 85px;
}

.booking-header {
  display: block;
  width: 1200px;
  height: 417px;
  background-color: #FFFFFF;
}

.title-booking {
  width: 297px;
  height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 91px;
  padding-right: 451px;
  padding-left: 452px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.booking-interest {
  margin: 0;
}

.datetravel {
  display: flex;
  justify-content: flex-start;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
  padding-top: 29px;
  padding-left: 304px;
  padding-right: 304px;
}

.button-hotel-modal {
  padding-top: 56px;
  padding-left: 313px;
  padding-right: 313px;
  border: none;
}

.button-hotel-search {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  border: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #756157;
  min-width: 574px;
  padding: 12px 15px;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
}

.mailing {
  width: 1200px;
  height: 411px;
  background-color: #000000;
  background-image: url("../images/background.jpg");
  margin: 0;
  background-repeat: no-repeat;
}

.mailing-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  height: 411px;
  background-color: #FFFFFF;
}

.newsletter-form-catalog {
  width: 800px;
  padding-top: 46px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 0;
}

.undersection-catalog {
  display: flex;
  width: 1200px;
  height: 411px;
  padding: 0;
  margin: 0;
  border: 0;
}

.mailing-header {
  color: #FFFFFF;
}

.welcome {
  display: flex;
  width: 1200px;
  height: 485px;
  background-color: #000000;
  background-image: url("../images/grand-canyon.jpg");
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.field-mail {
  width: 600px;
  height: 60px;
  background-color: #F2F2F2;
}

.field-mail::placeholder {
  padding-left: 22px;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
}

.callto,
.callto-mail {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 94px;
  padding-left: 398px;
  padding-right: 398px;
  text-align: center;
  color: #000000;
}

.callto {
  color: #FFFFFF;
}

.headermedia {
  background: url("../images/divider.svg") no-repeat;
  background-position: bottom, 0 0;
}

.welcomephoto {
  display: block;
  padding: 51px 371px 82px 371px;
}

div .advantages {
  background-color: #FFFFFF;
}

.titlehead {
  display: flex;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  padding-top: 63px;
  padding-left: 290px;
  padding-right: 290px;
  min-width: 620px;
  font-weight: 700;
}

.fivereason {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding-top: 31px;
}

.advant-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.advant-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.booking-title {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
}

.button-footer {
  min-width: 200px;
  padding: 12px 15px;
  border: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.field-mail {
  display: flex;
  margin: 0;
  border-collapse: collapse;
  padding: 0;
  text-align: left;
  border: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.button-submit-footer {
  display: flex;
}

.nospam {
  color: #FFFFFF;
  margin: 0;
  padding-top: 29px;
  padding-right: 362px;
  padding-left: 363px;
  width: 475px;
  height: 52px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.nospam-mail {
  color: #333333;
  margin: 0;
  padding-top: 29px;
  padding-right: 361px;
  padding-left: 363px;
  padding-bottom: 0;
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter-form {
  width: 800px;
  height: 60px;
  padding-top: 46px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 0;
}

.footer-social {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 120px;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
}
.footer-social-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 142px;
}
.footer-social-vk {
  padding-top: 58px;
  padding-bottom: 48px;
}

.footer-social-tg {
  padding-top: 57px;
  padding-bottom: 48px;
}

.footer-social-yot {
  padding-top: 58px;
  padding-bottom: 47px;
}

.footerphone {
  padding-top: 45px;
  padding-left: 230px;
  padding-bottom: 35px;
  width: 331px;
  text-decoration: none;
}

.footerlogo {
  margin: 0;
  padding-left: 235px;
  padding-top: 49px;
  padding-bottom: 38px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.header-catalog {
  display: flex;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
  width: 495px;
  height: 78px;
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 0;
  padding-bottom: 0;
  margin: 0;
}

.container-allhotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1056px;
  padding: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 66px;
  list-style-type: none;

}

.hotels-filter {
  display: flex;
  width: 1060px;
  justify-content: space-between;
}

.filter-infrastructure-type {
  display: flex;
  width: 1060px;
  margin: 0;
  border: 0;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  color: #FFFFFF;
}

.hotels-filter-title,
.house-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.house-filter-title {
  text-transform: capitalize;
}

.hotels-on-page {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0;
  min-height: 22px;
}

.catalog-view {
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fieldset-infrastructure {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: none 0;
  width: 150px;
  padding: 0;
  margin: 0;

}
.fieldset-type-house {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: none 0;
  width: 145px;
  margin: 0;
  padding: 0;
  align-content: space-between;
}
.control-pool {
  padding-top: 30px;
}
.control-parking {
  padding-top: 15px;
}
.control-wifi {
  padding-top: 15px;
}
.control-checkbox {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-right: 19px;
}
.control-hotel {
  padding-top: 35px;
}
.control-motel {
  padding-top: 20px;
}
.control-apartments {
  padding-top: 20px;
}
.select-control {
  display: flex;
  width: 290px;
  border-radius: 4px;
}

.pagination-block {
  display: flex;
  width: 400px;
  height: 60px;
  justify-content: space-between;
  align-content: center;
  list-style-type: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding-left: 0;
}

.pagination-select-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1056px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;

}

.pagination-item-current {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;

}
.pagination-link-current {
  color: #000000;
  text-decoration: none;
}
.pagination-link {
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 24px;
}
.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #82B3D3;
  color: #FFFFFF;
  border-radius: 4px;

}

.catalog-main-hotel {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #FFFFFF;
}

.breadcrumbs-item {
  width: 110px;
  height: 21px;
  padding-top: 10px;
  padding-left: 72px;
  padding-right: 0;
  padding-bottom: 0;
  margin: 0;
  border: 0;
}

.catalog-background {
  display: flex;
  width: 1200px;
  height: 411px;
  margin: 0;
  background-color: #FFFFFF;
}

.hotelssedona {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 403px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #000000;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
}

.hotels-filter-button {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}
.hotels-select {
  display: flex;
  width: 160px;
  border-radius: 4px;
  height: 49px;
}

.button-submit-catalog {
  background-color: #82B3D3;
  color: #FFFFFF;
  min-width: 160px;
  padding: 14px 15px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  border-color: #82B3D3;
}

.button-reset-catalog {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 65px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 0;
  border: 0;
  color: #FFFFFF;
  margin: 0 auto;
  padding-top: 20px;
  background-color: transparent
}

.fieldset-range {
  display: flex;
  flex-direction: column;
  border: none 0;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link-hotels {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
}

.hotelscat {
  display: flex;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  width: 338px;
  height: 37px;
  text-transform: uppercase;
}

.catalog-sorting {
  display: flex;
  justify-content: space-between;
  width: 1057px;
  height: 49px;
  margin-bottom: 56px;
  padding-top: 50px;
  padding-right: 71px;
  padding-left: 72px;
  padding-bottom: 0;
}

.hotel-card-title {
  display: flex;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  width: 300px;
  color: #000000;
  text-decoration: none;
  margin: 0 auto;
  padding-top: 16px;
  text-align: left;
}
.hotel-card-link {
  text-decoration: none;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 340px;

}
.hotel-card-price,
.amara-rating {
  margin: 0;
  display: flex;
}
.hotel-stars {
  display: flex;
  padding-top: 16px;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
}
