@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #E5E5E5;
}

.body-index {
  width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;

}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
}

.advantages {
  display: block;
  width: 1200px;
  height: 282px;
  margin: 0;
}


.twelve {
  margin: 0;
  padding-top: 17px;
  padding-right: 18px;
  padding-bottom: 35px;
}

.iconfooter-1 {
  width: 18px;
  height: 18px;
  margin: 0;
  padding-left: 311px;
  padding-top: 24px;
  padding-right: 0;
  padding-bottom: 24px;
}

.iconfooter-2 {
  margin: 0;
  padding-top: 24px;
  padding-left: 20px;
  padding-bottom: 24px;
}


.link-1 {
  margin: o;
  padding-left: 47px;
  padding-top: 20px;
  padding-bottom: 19px;

}

.link-2 {
  margin: o;
  padding-left: 34px;
  padding-top: 20px;
  padding-bottom: 19px;
}

.link-3 {
  margin: o;
  padding-left: 34px;
  padding-top: 20px;
  padding-bottom: 19px;
  margin-right: 311px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 65px;
  margin: auto;
  background-color: #FFFFFF;
}

.page-header-logo {
  margin-left: 70px;

}

.container-nav-1 {
  display: flex;
  width: 390px;
  height: 66px;
  justify-content: flex-start;
  margin: 0;
  padding-right: 351px;

}

.container-nav-2 {
  display: flex;
  justify-content: flex-end;
  width: 264px;
  margin: 0;
}

.navigation-icon-1 {
  display: flex;
  margin: auto;
}

.navigation-icon-2 {
  display: flex;
  margin: auto;
}

.navigation-item-want {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 70px;
}

.navigation-link {
  display: flex;
  justify-content: center;
  margin: 0;
}



.chosen-icon {
  margin: 0;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #756157;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  text-transform: uppercase;
  margin: auto;
}

.town-block-1,
.town-block-2,
.underlist,
.underlist-2 {
  display: flex;
}

.town-block-1 {
  width: 1200px;
  height: 384px;
}

.town-block-micro-1 {
  display: block;
  width: 400px;
  height: 384px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advant-number {
  margin: 0;
  padding-top: 30px;
}

.advant-title-x {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding-top: 92px;
  padding-left: 85px;
  padding-right: 85px;
  text-align: center;
  width: 230px;
  height: 56px;
  text-transform: uppercase;
  margin: 0;
}

.underlist-a {
  background-color: rgba(131, 179, 211, 0.12);
}

.advant-descr-2 {
  width: 230px;
  height: 63px;
  margin: 0;
}

.advant-descr {
  margin: 0;
  padding-top: 30px;
  padding-left: 85px;
  padding-right: 85px;
}

.underlist-a,
.underlist-b,
.underlist-c {
  width: 400px;
  height: 384px;
}

.icon-house {
  padding-top: 80px;
}

.underlist-b {
  background-color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
}

.icon-burger {
  padding-top: 81px;
  padding-bottom: 0;
}

.advant-title-1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding-top: 30px;
  text-transform: uppercase;
}

.advant-descr-2 {
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.advant-descr-3 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  margin-top: 0;
  width: 230px;
  height: 63px;
}

.advant-title-2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding-top: 31px;
  text-transform: uppercase;
}

.icon-souvenir {
  padding-top: 78px;
}



.advant-title-3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding-top: 28px;
  text-transform: uppercase;
}

.advant-descr-4 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  margin-top: 0;
  width: 230px;
  height: 63px;

}

.underlist-c {
  background-color: rgba(131, 179, 211, 0.12);
}

.underlist {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.town-block-2 {
  display: flex;
  width: 1200px;
  height: 384px;
  color: #FFFFFF;
}

.town-block-medium-2 {
  display: block;
  width: 400px;
  height: 384px;
  background-color: #82B3D3;
}

.advant-title-4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 92px;
}

.advant-number-2 {
  margin: 0;
  padding-top: 30px;
}

.advant-descr-5 {
  margin: 0;
  padding-top: 30px;
  padding-left: 85px;
  padding-right: 85px;
  width: 230px;
  height: 63px;
}

.underlist-2 {
  width: 1200px;
  height: 384px;
}

.underlist-d,
.underlist-e,
.underlist-f {
  width: 400px;
  height: 384px;
}

.underlist-d {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advant-title-5 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  width: 230px;
  height: 56px;
  margin: 0;
  padding-top: 103px;
  padding-left: 85px;
  padding-right: 85px;
  text-transform: uppercase;
}

.advant-number-3 {
  margin: 0;
  width: 230px;
  height: 21px;
  padding-top: 30px;
  padding-left: 85px;
  padding-right: 85px;
}

.advant-descr-6 {
  width: 230px;
  height: 42px;
  padding-top: 30px;
  margin: 0;
  padding-left: 85px;
  padding-right: 85px;
}

.underlist-e {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 384px;
}

.advant-title-6 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 103px;
  padding-left: 85px;
  padding-right: 85px;
  width: 230px;
  height: 56px;
}

.advant-number-4 {
  padding-top: 30px;
  margin: 0;
}

.advant-descr-7 {
  margin: 0;
  padding: 30px;
}

.underlist-f {
  background-color: rgba(131, 179, 211, 0.12);
}

.advant-title-7 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  width: 230px;
  height: 56px;
  padding-top: 103px;
  padding-left: 85px;
  padding-right: 85px;
}

.advant-number-5 {
  margin: 0;
  padding-top: 30px;
}

.advant-descr-8 {
  margin: 0;
  padding-top: 30px;
  padding-left: 85px;
  padding-right: 85px;
  width: 230px;
  height: 42px;
}

.booking-header {
  display: block;
  width: 1200px;
  height: 417px;
  background-color: #FFFFFF;
}

.title-booking {
  width: 297px;
  height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 91px;
  padding-right: 451px;
  padding-left: 452px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.title-booking-1 {
  margin: 0;
}

.datetravel {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;
  width: 592px;
  height: 52px;
  margin: 0;
  padding-top: 29px;
  padding-left: 304px;
  padding-right: 304px;
  text-align: center;
}

.button-hotel-modal {
  padding-top: 56px;
  padding-left: 313px;
  padding-right: 313px;
  border: no;
}

.button-hotel-search {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  border: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #756157;
  border-radius: 4px;
  width: 574px;
  height: 60px;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
}

.mailing {
  width: 1200px;
  height: 411px;
  background-image: url("../images/background.jpg");
  margin: 0;
  background-repeat: no-repeat;
}

.mailing-header-1 {
  color: #000000;
}

.mailing-header {
  color: #FFFFFF;
}

.welcome {
  width: 1200px;
  height: 485px;
  background-image: url("../images/grand-canyon.jpg");
  background-repeat: no-repeat;
  margin-bottom: 0;

}

.field-mail {
  width: 600px;
  height: 60px;
  background-color: #F2F2F2;
}

.field-mail::placeholder {
  padding-left: 22px;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
}


.callto {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 94px;
  padding-left: 398px;
  padding-right: 398px;
  text-align: center;
  color: #FFFFFF;
}

.callto-1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 94px;
  padding-left: 398px;
  padding-right: 398px;
  text-align: center;
  color: #000000;
}



.headermedia {
  background: url("../images/divider.svg") no-repeat;
  background-position: bottom, 0 0;
}

.welcomephoto {
  display: block;
  padding: 51px 371px 82px 371px;
}

div .advantages {
  background-color: #FFFFFF;
}

.titlehead {
  display: flex;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  padding-top: 63px;
  padding-left: 290px;
  padding-right: 290px;
  width: 620px;
  height: 72px;
  font-weight: 700;
}

.fivereason {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding-top: 31px;
}

.advant-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.advant-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.advant-descr {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.booking-title {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
}





.button-footer {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 60px;
  border-collapse: collapse;
  border: 0;
}

.button-footer {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;


}

.field-mail {
  display: flex;
  margin: 0;
  border-collapse: collapse;
  padding: 0;
  text-align: left;
  border: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.button-submit-footer {
  display: flex;
  justify-content: flex-start;
  border-collapse: collapse;
  margin: 0;
  padding: 0;

}

.nospam {
  color: #FFFFFF;
  margin: 0;
  padding-top: 29px;
  padding-right: 362px;
  padding-left: 363px;
  width: 475px;
  height: 52px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.nospam-1 {
  color: #333333;
  margin: 0;
  padding-top: 29px;
  padding-right: 362px;
  padding-left: 363px;
  width: 475px;
  height: 52px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter-form {
  margin: 0;
  padding-top: 46px;
  padding-left: 200px;
}



.divbuttonfooter {
  display: flex;
  width: 800px;
  height: 60px;
  margin: 0;
  padding: auto;
}

.footer-social {
  display: flex;
  width: 1200px;
  height: 120px;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
}

.footer-social-item-1 {
  padding-left: 82px;
  padding-top: 58px;
  padding-bottom: 48px;
}

.footer-social-item-2 {
  padding-left: 26px;
  padding-top: 57px;
  padding-bottom: 48px;
}

.footer-social-item-3 {
  padding-left: 27px;
  padding-top: 58px;
  padding-bottom: 47px;
}

.footerphone {
  padding-top: 45px;
  padding-left: 249px;
  padding-bottom: 35px;
  width: 331px;
  height: 40px;
  text-decoration: none;
}

.footerlogo {
  margin: 0;
  padding-left: 235px;
  padding-top: 49px;
  padding-bottom: 38px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.advantages-item-1 {
  background-color: #82B3D3;
}

.block-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.block-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.visually-hidden {
  display: none;
}

.header-catalog {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;

}

.catalog-background {
  width: 1200px;
  height: 411px;
  margin: 0;
  background-color: #FFFFFF;
}





.hotelssedona {
  position: relative;
  width: 100%;
}

.filter-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

.header-catalog {
  position: absolute;
  top: 35px;
  left: 70px;
  width: 100%;
}

.breadcrumbs-link-hotels {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;

}

.hotelscat {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.button-c {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.pagination-current {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
